.find{
  margin-top:50px;
}

.find .find__header-list{
  display: flex;
  justify-content: space-around;
  padding: 0px 10px;
}

.find .find__header-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find .header-btn__title{
  margin-top: 20px; 
}

.find .find__recommended{
  margin-top:30px;
  border-top: 1px solid #f7f7f7;
  padding-top:15px;
}

.find .find-title{
  font-size: 12px;
  opacity: 0.5;
  margin-bottom: 20px;
}